.nvb {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;top: 10px ;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: fixed;
}

.navbar li {
    margin: 30px;
}

nav {
    align-self: flex-end;
    position: absolute;
}